*{
  text-align: center;  
  background-color: black;
}

input{
  background-color: aliceblue;
  width: 200px;
  right: 100px;
}
button{
  background-color: azure;
}
.resultado{
  background-color: aliceblue;
}